<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <title>Despre Gaudeamus</title>

    <%- include("../fragmente/head.ejs")  %> 
    <link rel="stylesheet" type="text/css" href="/resurse/css/despre.css">
    <link rel="stylesheet" type="text/css" href="/resurse/css/galerie-animata.css"> 

</head>
<body>
    <%- include("../fragmente/header.ejs")  %> 

    <div id="container-despre">
        <section id="poveste" class="elem-despre">
            <div>
                <h2>Povestea noastră</h2>
                <p>Gaudeamus a fost fondată în 2022 de un grup de entuziaști ai cărților și tehnologiei. Am crezut în puterea cunoașterii și accesibilitatea ei pentru toată țara. Prin intermediul platformei noastre online, dorim să oferim oamenilor din întreaga țară acces la o vastă colecție de cărți, indiferent de locul lor de reședință. </p>
            </div>
        </section>

        <section id="istoric" class="elem-despre">
            <div>
                <h2>Istoricul librăriei</h2>
                <p>De la început, Gaudeamus a evoluat rapid, devenind una dintre cele mai mari și mai respectate librării online din țară. Am adăugat constant noi titluri și am colaborat cu editorii din întreaga țară pentru a oferi utilizatorilor noștri cea mai recentă și variată selecție de cărți. În prezent, Gaudeamus oferă mii de titluri, de la bestseller-uri la publicații niche.</p>
            </div>
        </section>

        <section id="motivatie" class="elem-despre">
            <div>
                <h2>Motivația noastră</h2>
                <p>La Gaudeamus, credem că accesibilitatea la cunoaștere și informație este esențială pentru o societate sănătoasă și inovatoare. Dorim să oferim oamenilor din întreaga țară posibilitatea de a învăța, de a se dezvolta și de a se bucura de pasiunile lor prin intermediul cărților. Suntem dedicați să oferim servicii excelente și să construim o comunitate puternică de iubitori ai cărților. </p>
            </div>
        </section>

        <hr id="stilizare-hr">

        
        <%- include("../fragmente/galerie-statica.ejs")  %> 


        <section id="informatii" class="sectiune-despre">
            <h2>Informații</h2>
            
            <p id="par-col">
                Comenzile pot fi plasate online cu ușurință prin intermediul platformei noastre user-friendly. Livrarea este rapida și sigura, cu opțiuni disponibile pentru livrare digitala sau prin poștă. În plus, oferim o garantie de 30 de zile pentru orice cărți achiziționate prin intermediul platformei noastre, astfel încât să aveți încredere că veți fi mulțumit de achiziția dvs. De asemenea, oferim suport 24/7 pentru orice întrebări sau probleme cu care v-ați putea confrunta. Ne străduim întotdeauna să oferim cea mai bună experiență de cumpărare pentru clienții noștri și suntem dedicați să ajutăm la împlinirea pasiunilor și intereselor lor prin intermediul cărților.
            </p>
            <div id="text">
                Galerie
                <div id="text-reflectat">
                    Galerie
                </div>
            </div>
            <div id="galerie-animata" class="galerie-a">
                <%  
                for (let i = 1; i <= locals.nrimag; i++) { 
                    imag = locals.imagini[i * 2 - 1];
                             %>
                                <figure>
                                    <img src="<%- imag.fisier %>" alt="imagine">
                                    <figcaption><%- imag.descriere %></figcaption>
                                </figure>
                        <% }  %>
            </div>

        </section>


    </div>
    </main>

    <%- include("../fragmente/footer.ejs") %>
    
</body>
</html>