    <!DOCTYPE html>
    <html  lang="ro">
        <head>
            <meta name="description" content="Libraria Gaudeamus ofera biografii, audiobook-uri, bestsellere cu optiunea de achizitie online si livrare prin curier.">
            <meta name="keywords" content="librarie, Gaudeamus, carti, produse, biografii, audiobook, bestseller">
            <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
            <title>Produse | Gaudeamus</title>
            <%- include("../fragmente/head") %>
            <script type="text/javascript" src=/resurse/js/produse.js></script>
            <style>
                .produs_indisp {
                    color:gray !important;
                }
            </style>
        </head>
        <body>
        <%- include("../fragmente/header") %>

        <main>

            <div class="row">
                <div class="col-6 col-lg-4">
                    <label> <div class="numeFiltru">Căutați după autor: </div>
                        <input  class="form-control" type="text" id="inp-nume"  placeholder="<%- locals.inpAutor%>"></label>
                </div>
                <div class="col-6 col-lg-4">
                    <label> <div class="numeFiltru">An apariție: </div>
                        <input class="form-control" list="id_ani" id="i_datalist"  placeholder="<%- locals.inpAn%>">
                        <datalist id="id_ani">
                            <% for (let an of locals.aniPublicare) { %>
                                <option value="<%- an.an %>"></option>
                            <% } %>
                        </datalist>
                    </label>
                </div>
                <div class="col-6 col-lg-4">
                    <label><div class="numeFiltru"> Categorie: </div>
                        <select class="form-select" id="inp-categorie">
                            <option id="sel-toate" selected value="toate">toate</option>
                            <% for (let opt of locals.optiuni) { %>
                                <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                            <% } %>
                        </select>
                    </label>
                </div>
            <!-- </div>

            <div class="row"> -->
                <div class="col-6 col-lg-4">
                    <label> <div class="numeFiltru">Căutați în descriere:</div>
                        <textarea class="form-control" id="i_textarea"  placeholder="<%- locals.inpDescriere.slice(0, 45)+"..."%>"></textarea>
                    </label>
                </div>
                <div class="col-6 col-lg-4">
                    <label> <div class="numeFiltru"> Selectați autorii nedoriți: </div>
                        <select class="form-select" id="i_sel_multiplu" multiple size="3">
                            <% for (let autor of locals.autori) {%>
                                <option value="<%- autor.aut %>"><%- autor.aut %> </option>
                            <% } %>
                        </select>
                    </label>
                </div>
                <div class="col-6 col-lg-4">
                    <div class="filtru" style="display: inline-block;"> <div class="numeFiltru"> Semn de carte: </div>
                        <label>Toate
                            <input class=" form-check-input" id="toateStoc" checked name="gr_rad" type="radio"/> 
                        </label><br>
                        <label> Disponibil
                            <input class=" form-check-input" id="trueStoc" name="gr_rad" type="radio"/> 
                        </label><br>
                        <label> Indisponibil
                            <input class=" form-check-input" id="falseStoc" name="gr_rad" type="radio"/> 
                        </label><br>
                    </div>
                </div>
            </div>

            <div class="row">
                
                <div class="col-12 col-lg-8">
                    <label id="labelPret"> <div class="numeFiltru" style="display: inline-block;">Preț minim: </div>
                        <div id="containerPret">
                            <span id="minRange"><%-locals.inputs.min%></span>
                            <input id="inp-pret" class="form-range" type="range"value="<%-locals.inputs.min%>" 
                            min="<%-locals.inputs.min%>"  max="<%-locals.inputs.max%>" step = 0.1> 
                            <span id="maxRange"><%-locals.inputs.max%></span>
                            <span id="infoRange">(<%-locals.inputs.min%> Lei)</span>
                        </div>
                    </label>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="filtru" style="display: inline-block;" id="containter-inp-check">
                        <div class="numeFiltru"> Tip copertă: </div>
                    <% for(subopt of locals.suboptiuni) { %>
                        <label for="<%- subopt.unnest%>"> <%- subopt.unnest%></label>
                        <input id="<%- subopt.unnest%>" class="inp-check form-check-input" name="gr_chck" checked type="checkbox"/> <br>
                    <% } %>
                    </div>
                </div>
            </div>

            <p id="butoaneFiltrare">
                <button class="btn btn-secondary" id="filtrare"> <i class="bi bi-funnel"></i> <div> Filtreaza </div></button>
                <button class="btn btn-secondary" id="resetare"> <i class="bi bi-x-circle"></i> <div> Reseteaza </div></button>
                <button  class="btn btn-secondary" id="sortCrescNume"> <i class="bi bi-sort-down-alt"></i> <div>Sortează crescător</div></button>
                <button class="btn btn-secondary" id="sortDescrescNume"> <i class="bi bi-sort-down"></i> <div>Sortează descrescător</div></button>
                <button class="btn btn-secondary" id="calculare"><i class="bi bi-calculator"></i> <div> Calculare </div></button>
            </p>
            
            <!-- <p id="p-suma">Apăsați Alt+"c" pentru suma preturilor produselor afișate. </p> -->
            <section id="produse">
                <h2>Produse</h2>
                <div class="grid-produse">
                    <% for(let prod of locals.produse) {
                        let clasa = ""
                        if(prod.stoc == 0)
                        clasa = "produs_indisp"

                        %>
                        <article class="produs <%- prod.categorie%>" id="<%- "ar_ent_" + prod.id%>">
                            <h3 class="titlu"><a href="/produs/<%-prod.id %>"><span class="val-titlu"><%- prod.titlu%></span></a></h3>

                            <div class="aliniere-col">
                                <div class="info-prez">
                                    <p class="categorie <%-clasa%>"><i class="fa-solid fa-book"></i></i> Categorie: <span class="val-categorie"><%- prod.categorie%></span></p>
                                    <figure>
                                        <a href="/produs/<%-prod.id %>" ><img src="/resurse/imagini/produse/<%- prod.imagine %>" alt="[imagine <%- prod.titlu %>]" /></a>
                                    </figure>
                                    
                                </div>
                                <div class="info-prod <%-clasa%>">
                                    <p class="pret <%-clasa%>">
                                        <i class="fa-solid fa-dollar-sign"></i> Preț: <span class="val-pret"><%- prod.pret%></span> <span>Lei</span>
                                    </p>

                                    <p class="suboptiune <%-clasa%>">
                                        <i class="fa-solid fa-paperclip"></i> Copertă: <span class="val-subopt"><%- prod.tip_coperta%></span>
                                    </p>

                                    <p class="autori <%-clasa%>"> 
                                        <i class="fa-solid fa-user"></i> Autor(i): <span class="val-autori">
                                            <% if (prod.autori.length == 0) {%> &mdash; 
                                            <% } else
                                                for(let i = 0; i < prod.autori.length - 1; i++){ %>
                                                <%- prod.autori[i]%>,
                                            <% } %> 
                                            <%- prod.autori[prod.autori.length-1]%>
                                            </span>
                                    </p>

                                    <p class="data <%-clasa%>">
                                        <i class="fa-regular fa-calendar"></i> Data publicării: <br>
                                        <time class="val-data <%-prod.data_publicare.getFullYear()%>" datetime="<%- prod.data_publicare%>">
                                            <%
                                                luni = ["Ianuarie", "Februarie", "Martie", "Aprilie", "Mai", "Iunie", "Iulie", "August", "Septembrie", "Octombrie", "Noiembrie", "Decembrie"];
                                                zile_sapt = ["Duminică", "Luni", "Marți", "Miercuri", "Joi", "Vineri", "Sâmbătă"];
                                            %>
                                            <%- prod.data_publicare.getDate()%>-<%- 
                                            luni[prod.data_publicare.getMonth()]%>-<%- 
                                            prod.data_publicare.getFullYear()%>
                                            (<%- zile_sapt[prod.data_publicare.getDay()]%>)
                                        </time>
                                    </p>

                                    <p class=" <%-clasa%>">
                                        <i class="fa-solid fa-box-open"></i> Stoc:
                                        <span>
                                            <%- prod.stoc%> bucăți
                                        </span>
                                    </p>

                                    
                                    <p class="stoc <%-clasa%>">
                                        <i class="fa-solid fa-bookmark"></i> Semn carte: 
                                        <span class="val-stoc">
                                            <% var optBool = ""
                                            if(prod.in_stoc) 
                                            optBool = "Disponibil";
                                            else optBool = "Indisponibil";
                                            %>
                                            <%- optBool%>
                                        </span></p>
                                    
                                    <input type="number" class="cant-cos form-control" id="cant<%-prod.id%>" max="<%-prod.stoc%>" min="0"
                                    style="margin-bottom: 1rem;">
                                        
                                    <% if(prod.stoc == 0){%>
                                        <label class="selecteaza-cos disabled btn btn-info" disabled>
                                        <% } else { %> 
                                        <label class="selecteaza-cos btn btn-info">
                                        <% } %>
                                        Adaugă 
                                            <input type="checkbox" class="select-cos" value="<%-prod.id %>" autocomplete="off">
                                    </label>
                                </div>
                            </div>
                            <div class="accordion accordion-flush val-descriere" id="accordionExample<%-prod.id%>">
                                        <div class="accordion-item">
                                          <h2 class="accordion-header" id="heading<%-prod.id%>">
                                            <button class="accordion-button collapsed <%-clasa%>" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%-prod.id%>" aria-expanded="false" aria-controls="collapse<%-prod.id%>">
                                                <i class="fa-solid fa-feather-pointed"></i> &nbsp; Descriere:
                                            </button>
                                          </h2>
                                          <div id="collapse<%-prod.id%>" class="accordion-collapse collapse" aria-labelledby="heading<%-prod.id%>" data-bs-parent="#accordionExample<%-prod.id%>">
                                            <div class="accordion-body">
                                                <%- prod.descriere%>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                        </article>
                    <% }%>
                </div>
            </section>
        </main>

        <%- include("../fragmente/footer") %>
        </body>
    </html>